<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/inicio.css">
  <title>Ortopedia Hamburgo - Inicio</title>
</head>
<body>
  <!-- Incluir el men煤 de navegaci贸n -->
  <%- include('../partials/header') %>

  <main class="contenido">
    <div class="caja bienvenida inicial">
      <h2> Bienvenidos a Ortopedia Hamburgo</h2>
      <p>Innovaci贸n ortop茅dica para una vida sin l铆mites.</p>
  </div>
  
  <div class="caja menor">
      <h3> 驴D贸nde estamos?</h3>
      <p>Estamos ubicados en la Calle Santa Fe, 17, Parque de los Pr铆ncipes, Sevilla.</p>
  </div>
  
  <div class="caja menor">
      <h3>锔 驴Qu茅 ofrecemos?</h3>
      <ul>
          <li>Pr贸tesis y ortesis personalizadas impresas en 3D.</li>
          <li>Dispositivos ortop茅dicos de 煤ltima generaci贸n.</li>
          <li>Evaluaci贸n y ajuste personalizado.</li>
          <li>Asesoramiento continuo y atenci贸n 24/7.</li>
          <li>Atenci贸n personalizada a deportistas de 茅lite.</li>
      </ul>
  </div>
  
  <div class="caja menor">
      <h3> 驴Qui茅nes somos?</h3>
      <p>Somos Eva Artigas y Gabriela V茅lez, profesionales en Ortopr贸tesis y Productos de Apoyo.</p>
  </div>
  
  <div class="caja menor">
      <h3> Nuestro Compromiso</h3>
      <ul>
          <li>Innovaci贸n: Impresi贸n 3D para productos personalizados.</li>
          <li>Sostenibilidad: Producci贸n responsable y sin desperdicios.</li>
          <li>Inclusi贸n: Programa de donaci贸n para personas vulnerables.</li>
      </ul>
  </div>
  
  </main>

  <!-- Incluir el pie de p谩gina -->
  <%- include('../partials/footer') %>
  <script src="/css/scroll.js"></script>
</body>
</html>
