<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/header.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ortopedia Hamburgo</title>
</head>
<body>
  <header class="cabecera">
    <h1>Ortopedia Hamburgo</h1>
    <nav>
      <a href="/">Inicio</a>
      <a href="/pacientes">Pacientes</a>
      <a href="/medicos">Técnicos</a>
      <a href="/organizacion">Centro</a>
    </nav>
  </header>